<div class="sony-bar__container">
	<div class="sony-bar__logo">
		<a href="https://www.sony.com/en/" target="_blank">
			<img
			src="assets/sony-logo.jpg"
			alt="sony logo"
			srcset=""
			width="140px"
			height="32px"
		>
		</a>

	</div>
</div>
<div class="menu-bar__container">
	<div class="menu-bar__logo">
		<a href="https://www.playstation.com/pt-br/" target="_blank">
			<img
			src="assets/ps-logo.jpg"
			alt="playstation logo"
			srcset=""
		>
		</a>
	</div>
	<div class="menu-bar__item">
		<ul>
			<li><a href="#">Jogos</a></li>
			<li><a href="#">Hardware</a></li>
			<li><a href="#">Serviços</a></li>
			<li><a href="#">Notícias</a></li>
			<li><a href="#">Loja</a></li>
			<li><a href="#">Suporte</a></li>
		</ul>
	</div>
</div>
