/* You can add global styles to this file, and also import other style files */
*{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body{
  background: #00449C;
  background: linear-gradient(90deg, #00449C 100%, #416ba1 55%, rgba(9,9,121,1) 0%);
}
